.container {
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px;
}

.header,
.main,
.footer {
  padding: 0 20px;
}

.header {
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(131, 144, 193, 0.25);

  &-inner {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burgerMenu {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }

  .header{
    .burgerMenu {
      display: block;
    }
  }
}
