@import './colors.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $dark-spell;
  background: #f8fafd;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px;
}

.header,
.main,
.footer {
  padding: 0 16px;
}

.header {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(131, 144, 193, 0.25);

  &-inner {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burgerMenu {
    display: none;
  }
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.point-wrapper {
  display: flex;
  width: 100%;
  .separator {
    content: '';
    display: block;
    align-self: center;
    margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: #abc7ec;
  }

  &:last-child {
    width: fit-content;
  }
}

.statusPoint {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: 1px solid #2f80ed;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: #fff;
  &.active {
    background-color: #2f80ed;
  }
  &.done {
    background-image: url('../assets/img/icons/singleColorIcons/checkMark.svg');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.cartContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1120px;
  margin: 0 auto;
  gap: 16px;
}

.sidebarLeft {
  grid-column: span 4;
  .content {
    width: calc(100% - 26.61%);
    display: flex;
    flex-direction: column;
    &-logo {
      width: 116px;
      height: 163.165px;
      align-self: center;
      margin-bottom: 32px;
    }
    &-title {
      margin-bottom: 24px;
    }

    .feature {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
    }
  }
}

.cartMain {
  grid-column: span 5;
}

.sidebarRight {
  grid-column: span 3;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }

  .header {
    .burgerMenu {
      display: block;
    }
  }

  .cartContent {
    grid-template-columns: 1fr;
  }

  .sidebarLeft {
    order: 2;
    .content {
      &-logo {
        display: none;
      }
    }
  }
  .cartMain {
    order: 1;
  }
  .sidebarRight {
    order: 3;
  }
}
