$dark-spell: #2e3c49;
$urban-vibes: #8a98a9;
$trapped-darkness: #081d31;
$spelunking: #37465d;
$turquoise: #00c4c4;
$blue-de-france: #2f80ed;
$white: #fff;
$cotton-boll: #e8effa;
$crow-black-blue: #17324d;
$kuketake-black-manga: #041524;
$flickr-blue: #1968d2;
$blizzy-blueberry: #1658b1;
$salty-ice: #cde4f9;
$wash-me: #f8fafd;
$weathered-blue: #d3e2f9;
$placid-blue: #89a6d4;
$field-blue: #4376a6;
$khmer-kurry: #eb5757;
